@model IEnumerable<ScheduleAPI.Models.Schedule>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Schedules</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table bg-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Groups)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subgroups)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Groups)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subgroups)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ScheduleId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ScheduleId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ScheduleId })
            </td>
        </tr>
        }
    </tbody>
</table>
