@model IEnumerable<TeachingAPI.Models.Class>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button class="btn btn-dark text-white" style="margin-top: 5%;" onclick="history.go(-1);"><i class="fas fa-angle-left" style="margin-right: 10px;"></i>Return</button>

<h1 style="margin-top: 5%;">Classes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    <div class="card" style="width: 50rem; margin-left: 15%;">
        <div class="card-body">
            <h2 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h2>
            <div class="row">
                <div class="col-md-8">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.ActivityName)</h5>
                </div>
                <div class="col-md-4">
                    <a class="nav-link text-white">@Html.ActionLink("View Details", "Activity", new { name = item.ActivityName })</a>
                </div>
            </div>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Html.DisplayFor(modelItem => item.Groups)</li>
            <li class="list-group-item">@Html.DisplayFor(modelItem => item.Subgroups)</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">@Html.ActionLink("Edit", "Edit", new { id = item.ClassId })</a> |
            <a href="#" class="card-link">@Html.ActionLink("Details", "Details", new { id = item.ClassId })</a> |
            <a href="#" class="card-link">@Html.ActionLink("Delete", "Delete", new { id = item.ClassId })</a>
            <a class="card-link" style="float: right;" asp-area="" asp-controller="LessonsMVC" asp-action="Index">View Lessons</a>
        </div>
    </div>
}