@model IEnumerable<GroupsAPI.Models.Specialisation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Activities</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table bg-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.SpecialisationId  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.SpecialisationId }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.SpecialisationId })
            </td>
        </tr>
}
    </tbody>
</table>
